<%- include('./includes/head.ejs') %>
<!-- navigation bar -->
<nav>
  <h1>I am Post Detail Page</h1>
</nav>
<!-- main content section -->
<section>
  <div class="detail-ctn">
    <header>
      <a href="/" class="main-btn">Back to Home</a>
      <h1><%= post.title %></h1>
    </header>
    <div class="content-ctn">
      <img src="<%= post.image_url %>" alt="<%= post.title %>" />
      <div class="post-controls">
        <form action="/admin/delete/<%= post.id %>" method="post">
          <button class="main-btn">Delete</button>
        </form>
        <a href="/admin/edit/<%= post.id %>" class="main-btn">Edit</a>
      </div>
      <p><%= post.description %></p>
    </div>
  </div>
</section>
<%- include('./includes/foot.ejs') %>
