<%- include('./includes/head.ejs') %>
<!-- navigation bar -->
<nav>
  <h1>Add a new post here</h1>
</nav>
<!-- main content section -->
<section class="addpost-section">
  <div class="form-ctn">
    <header>
      <h1>Edit Post Form</h1>
      <a href="/" class="main-btn">Go back Home</a>
    </header>
    <form action="/admin/edit-post" method="post">
      <input type="text" name="id" value="<%= post.id %>" hidden required />
      <div class="field">
        <label for="title">Title</label>
        <input type="text" name="title" value="<%= post.title %>" required />
      </div>
      <div class="field">
        <label for="photo">Image URL</label>
        <input
          type="text"
          name="photo"
          value="<%= post.image_url %>"
          required />
      </div>
      <div class="field">
        <label for="description">Description</label>
        <textarea type="text" name="description" rows="10" required>
          <%= post.description %>
        </textarea>
      </div>
      <button type="submit">Edit Post</button>
    </form>
  </div>
</section>
<%- include('./includes/foot.ejs') %>
