<%- include('./includes/head.ejs') %>
<!-- navigation bar -->
<nav>
  <h1>I am Home Page</h1>
</nav>
<!-- main content section -->
<section>
  <p class="landing-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, qui!
    Modi ea odit, est molestiae distinctio quis ut. Soluta eum tempora expedita
    quod esse eaque, repudiandae nemo ea dolores quis.
  </p>
  <div class="btn-ctn">
    <a href="/posts" class="main-btn">Go to Post Page</a>
    <a href="/admin/create" class="main-btn">Create Post</a>
  </div>
  <div class="posts-ctn">
    <% if(postsArray.length === 0) { %>
    <div class="nopost-ctn">
      <h1>Nothing to see post?</h1>
      <p>Create a new post now...</p>
      <a href="/admin/create" class="main-btn">Create a new Post</a>
    </div>
    <% } %> <% for(let post of postsArray) { %>
    <a href="/details/<%= post.id %>">
      <div class="card">
        <h1><%= post.title %></h1>
        <img src="<%= post.image_url %>" alt="<%= post.title %>" />
        <p>
          <%= post.description.length > 30 ? post.description.substring(0 , 30)
          : post.description %>
        </p>
      </div>
    </a>
    <% } %>
  </div>
</section>
<%- include('./includes/foot.ejs') %>
